* {
    margin: 0;
    padding: 0;
}

body {
    background: palegreen;
}

table .header td {
    background: khaki;
    padding: 5px;
}

table td {
    background: moccasin;
    padding: 5px;
}

table .primary_key {
    background: gold;
    padding: 5px;
}